body {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  background-color: #E4FFE6;
  color: #420D3A;
  padding: 2% 5%;
}
.post {
  padding: 2%;
}
.post:nth-child(odd) {
    background-color: #420D3A;
    color: #E4FFE6;
}

#button {
  float: right;
}
.modalTweet {
  background: rgb(66, 13, 58);
  background: rgba(66, 13, 58, 0.9);
  color:white;
  padding:2%;
}

#simplemodal-container {
  max-height: 70%;
  width: 40%;
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-15px;
  cursor:pointer;
}