body {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  background-color: #E4FFE6;
  color: #420D3A;
  padding: 2% 5%;
}
#headContainer {
  padding: 2%;
  background: url("candy.jpg") no-repeat;
}
.header {
  font-size: 60px;
  text-align:center;
}
.subtext {
  font-size: 40px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
}
.post {
  padding: 2%;
  text-align: center;
  font-size: 25px;
}
.post:nth-child(odd) {
    background-color: #420D3A;
    color: #E4FFE6;
}
.post:nth-child(even) {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.05);

}
.username {
  font-size: 27px;
  color:#8F7D8D;
}
.username:hover {
  text-decoration: underline;
  cursor: pointer;
}
.message {
  font-size: 16px;
  color: #FFDBED;
}
.time {
  font-style: italic;
  font-size: 12px;

}

#button {
  float: right;
}
.modalTweet {
  background: rgb(33, 43, 30);
  background: rgba(33, 43, 30, 0.95);
  color:white; 
  padding:1% 2%;
  text-align: center;
  border: 3px solid #420D3A;

}

#simplemodal-container {
  max-height: 70%;
  width: 38%;
  padding: 1%;
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-8px;
  right:-8px;
  cursor:pointer;
}