body {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
.modalTweet {
  background: rgb(46, 13, 71);
  background: rgba(46, 13, 71, 0.9);
  color:white;
  padding:2%;
}

#simplemodal-container {
  max-height: 70%;
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-15px;
  cursor:pointer;
}